---
import { glossaryBySlug } from "../../data/glossary";

interface Props {
  slugs: string[];
}

const { slugs } = Astro.props;
const items = slugs.map((slug) => glossaryBySlug[slug]).filter(Boolean);
---
{items.length > 0 && (
  <div class="related-terms">
    <p class="micro-label">Related terms</p>
    <div class="related-term-list">
      {items.map((item) => (
        <a class="related-term-chip" href={item.href}>{item.term}</a>
      ))}
    </div>
  </div>
)}
